/*** color variables ***/
$color-black: #000;
$color-cerebral-grey: #ccc;
$color-mercury: #ebebeb;
$color-palladium: #b1b1b1;
$color-lynx-white: #f7f7f7;
$color-white: #fff;
$color-hardcoal: #666464;
$color-steam: #ddd;
$color-faded-red: #d74949;
$color-misty-lawn: #e1f9e2;
$color-mid-green: #4db147;
$color-light-pastel-green: #b3f7a8;
$color-bright-mint: #9eff8f;
$color-maroon-oak: #4e1419;