@import '../../styles/variables';

header{
    margin: 15px 100px;

    @media screen and (max-width: 767px) {
        margin: 15px;
    }
}

.header{
    align-items: center;
    border-bottom: 1px solid $color-palladium;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;

    &_logo{
        @media screen and (max-width: 767px) {
            height: 25px;
            width: auto;
        }
    }

    &_title{
        font-size: 25px;
        font-weight: 300;

        @media screen and (max-width: 767px) {
           font-size: 18px;
        }
    }
}